  
<div>
<div *ngIf="zmanimOutput != undefined" dir="rtl" class="container">
  
  <div class="form-group">
    <select [(ngModel)]="latLng" class="form-control" style="max-width: 150px;margin: auto;" (change)="locationChange($event.target.value)">
      <option *ngFor="let location of stringsService.getStringObjArray('zmanim_locations')" [value]="location.lat_lng">{{location['he']}}</option>
    </select>
  </div>
  
  <input dir="rtl" style="max-width: 150px;margin: auto;" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" type="date" class="form-control" (ngModelChange)="dateChange()">
  <hr>
  <div class="row">
    <div class="col-sm-6 container">
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('alot_hashahar','he')}}</span><span class="value ng-binding">{{zmanimOutput.alotHashahar}}</span></div>
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('netz','he')}}</span><span class="value ng-binding">{{zmanimOutput.sunrise}}</span></div>
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('noon','he')}}</span><span class="value ng-binding">{{zmanimOutput.noon}}</span></div>    
    </div>
    <div class="col-sm-6 container">
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('sunset','he')}}</span>
        <span class="value ng-binding">{{zmanimOutput.sunset}}</span></div>
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('starout','he')}}</span>
        <span class="value ng-binding">{{zmanimOutput.tzetHkohavim}}</span></div>
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('shaa_zmanit','he')}}</span>
        <span class="value ng-binding">{{zmanimOutput.shaaZmanit}}</span></div>    
    </div>
    <div class="col-sm-6 container">
      <div class="clfAfter times-element"><span class="name ng-binding">{{stringsService.getString('knisat_shabat','he')}}</span>
        <span class="value ng-binding">{{zmanimOutput.knisatShabat}}</span></div>   
    </div>
    <div class="col-sm-6 container">
       
    </div>
  </div>
</div>
<div *ngIf="zmanimOutput == undefined" class="mdl-spinner mdl-js-spinner is-active spinner"></div>
</div>