<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{stringService.getString('Minyan',language)}}</h5>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="minyan.type">
        <option *ngFor="let stringObj of stringService.getStringObjArray('minyanTypes')" [ngValue]="stringObj.code">{{stringObj[language]}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="minyan.dayAtWeek">
        <option *ngFor="let stringObj of stringService.getStringObjArray('timeAtWeek')" [ngValue]="stringObj.code">{{stringObj[language]}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="minyan.timeType">
        <option 
          *ngFor="let stringObj of stringService.getStringObjArray('timeTypes')"
          [ngValue]="stringObj.code">
            {{stringObj[language]}}
        </option>
      </select>
    </div>

    <div *ngIf="minyan.timeType==='fixed_time'">
      <div class="form-group" >
          <input [(ngModel)]="minyan.dakotLifneyAcharey" type="number" min="0" max="300" style="max-width: 50px;" placeholder="{{stringService.getString('minutes','he')}}">
          <label>{{stringService.getString('minutes','he')}}</label>
          <label class="alert alert-danger" role="alert" *ngIf="errors.includes('minyan_DakotLifneyAcharey_error_value')">{{stringService.getString('minyan_DakotLifneyAcharey_error_value','he')}}</label>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="minyan.isDakotLifney">
          <option *ngFor="let stringObj of stringService.getStringObjArray('beforeAfter')" [ngValue]="stringObj.code">{{stringObj[language]}}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="minyan.dayTime">
          <option *ngFor="let stringObj of stringService.getStringObjArray('dayTimes')" [ngValue]="stringObj.code">{{stringObj[language]}}</option>
        </select>
      </div>
    </div>


    <div class="form-group" *ngIf="minyan.timeType==='fixed_hour'">
      <input type="time" [(ngModel)]="minyan.time" >
      <label class="alert alert-danger" role="alert" *ngIf="errors.includes('minyan_Time_error_value')">{{stringService.getString('minyan_Time_error_value','he')}}</label>
    </div>

    
    <button class="btn btn-danger" (click)="removeMinyan(index)">מחק</button>
  </div>
</div>
