#gmap {
	height: 95%;
	width: 100%;
}

.floating-menu {
	background-color: beige;
    padding: 5px;
    width: 130px;
    z-index: 100;
    position: fixed;
    top: 100px;
	left: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }