<div id="gmap" style="height: 93%;width: 100%;"></div>

<div class="floating-menu">
  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="text-decoration: none;">  
    <b>{{stringService.getString('filtering','he')}}</b>
    <i style="font-size: 15px" class="material-icons">filter_list</i>
  </a>
  <div id="collapseTwo" class="collapse" data-parent="#accordion">
    <div>{{stringService.getString('minyanType','he')}}</div>
    <select class="form-control" [(ngModel)]="filteringSynagogueObj.minyanType">
      <option [ngValue]="stringObj.code" *ngFor="let stringObj of stringService.getStringObjArray('minyanTypesForFiltering')">{{stringObj['he']}}</option>
    </select>
    <div>{{stringService.getString('nosach','he')}}</div>
    <select class="form-control" [(ngModel)]="filteringSynagogueObj.nosach">
      <option [ngValue]="stringObj.code" *ngFor="let stringObj of stringService.getStringObjArray('nosachArrayForFilter')">{{stringObj['he']}}</option>
    </select>
    <button class="mdl-button mdl-js-button" (click)="drowSynagoguesOnMap()"><b>{{stringService.getString('search_again','he')}}</b></button>
  </div>
</div>