.center {
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body, html {
  height: 100%;
  width: 100%;
}



.times-element{
  padding:0 9px 9px;
  max-width: 300px;
}
.times-element .name{
  float:right;
}
.times-element .value{
  float:left;
}
.eng .times-element .name{
  float:left;
  max-width:105px;
}
.eng .times-element .value{
  float:right;
}
.clfAfter:after{
  clear:both;
  height:0;
  font-size:1pt;
  display:block;
  content:' ';
}
.times-element .name{
  float:right;
}
.content-box .head .name{
  font-size:20px;
  position:relative;
  top:5px;
}
.eng .times-element .name{
  float:left;
  max-width:105px;
}

.times-element .value{
  float:left;
}



.spinner{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}


