<nav dir="rtl" class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index: 101;"> 
  <a class="navbar-brand" href="#">{{stringService.getString('nearbyMinyan','he')}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" [class.active]="isItemActive('/SenagogMap')">
          <a class="nav-link" href="/SenagogMap">{{stringService.getString('synagogueMap','he')}}</a>
        </li>
        <li class="nav-item" [class.active]="isItemActive('/addSenagog')">
          <a class="nav-link" href="/addSenagog">{{stringService.getString('addSynagogue','he')}}</a>
        </li>
        <li class="nav-item" [class.active]="isItemActive('/zmanim')">
          <a class="nav-link" href="/zmanim">{{stringService.getString('zmanim','he')}}</a>
        </li>
        <li class="nav-item" [class.active]="isItemActive('/signIn')">
          <a class="nav-link" href="/signIn">{{signInStr}}</a>
        </li>
      </ul>
  </div>
</nav>